{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>INDUS SALE</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="{% static 'IMAGES/logo.jpg' %}" type="image/icon type">
        <meta name="viewport" content="widhth=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/common_nav_footer_css.css' %}">
        <link rel="stylesheet" href="{% static 'css/common_css.css' %}">
        <link rel="stylesheet" href="JS/home_js.js" type="text/Javascript">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&family=Cookie&family=Handlee&family=Lobster+Two&family=Marck+Script&family=Oswald:wght@300&family=Playfair+Display&family=Tangerine&display=swap" 
         rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
         integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <style>
        .home_body{
            background-image: url(../static/images/home_bg.jpg);
        }
        .drop{
            margin-bottom: 10px;
            padding-left: 15px;
            padding-right: 120px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-color: #fff;
            border-radius: 10px;
            color:dimgrey;
        }
    </style>
    <body class="home_body">
        <script src="js/script.js"></script>
        <!-- Nav bar-->
       <header class="nav_heading">
            <div class="navbar">
                <div class="logo"><img src="{% static 'images/logo.jpg' %}" class="navlogo"><a href="#" class="nav_head">Indus Sale</a></div>
                <ul class="nav_links">
                    <li class="nav_link"><a href="{% url 'home' %}" class="nav_link">Home</a></li>
                    <li class="nav_link"><a href="{% url 'about' %}" class="nav_link">About</a></li>
                    <li class="nav_link"><a href="{% url 'contact' %}" class="nav_link">Contact</a></li>
                    <li class="nav_link"><a href="{% url 'module_admin' %}" class="nav_link">Admin</a></li>
                    <li class="nav_link"><a href="{% url 'module_manager' %}" class="nav_link">Manager</a></li>
                    <li class="nav_link"><a href="{% url 'module_user' %}" class="nav_link">User</a></li>
                </ul>
                <a href="{% url 'login' %}" class="home_signin">Login</a>
                <div class="toggle_btn">
                    <span class="material-symbols-outlined">menu</span>
                </div>
            </div>
            <div class="dropdown_menu ">
                <li class="nav_link"><a href="{% url 'home' %}" class="nav_link">Home</a></li>
                <li class="nav_link"><a href="{% url 'about' %}" class="nav_link">About</a></li>
                <li class="nav_link"><a href="{% url 'contact' %}" class="nav_link">Contact</a></li>
                <li class="nav_link"><a href="{% url 'module_admin' %}" class="nav_link">Admin</a></li>
                <li class="nav_link"><a href="{% url 'module_manager' %}" class="nav_link">Manager</a></li>
                <li class="nav_link"><a href="{% url 'module_user' %}" class="nav_link">User</a></li>
                <li><a href="{% url 'login' %}" class="home_signin nav_link">Login</a></li>
            </div>
        </header>

        <main>
            <!-- heading of the page -->
            
            <section id="home_heading">
                <h1>SignUp page {{result}}</h1>
                <p>This is the <br>signup page of the website</p>
            </section>
            <!--SignUp form-->
            <div class="login-page">
                <div class="form">
                  <form action="../signup/" method="POST">
                    {% csrf_token %}
                    <lottie-player
                      src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
                      background="transparent"
                      speed="1"
                      style="justify-content: center"
                      loop
                      autoplay
                    ></lottie-player>
                    <input type="text" name="fullname" placeholder=" &#128100; full name" />
                    <input type="text" name="lastname" placeholder=" &#128100; category name" />
                    <input type="text" name="emailaddress" placeholder=" &#9993; email address" />
                    <!-- <input type="number" name="number" placeholder=" &#9993; phone number" /> -->
                    <select name="category" class="drop" >
                        <option>&#128100; select category </option>
                        <option value="manager">manager</option>
                        <option value="user">user</option>
                    </select> 
                    <input type="text" name="pickausername" placeholder=" &#64; pick a username" />
                    <input type="password" name="setapassword" id="password" placeholder=" &#128274; setapassword" />
                    <i class="fas fa-eye" onclick="show()"></i>
                    <br>
                    <br>
                  
        
                  <div class="login-form">
                    <button type="submit" onclick="window.location.href={% url 'signup' %}">
                      SIGN UP
                    </button>
                    <p class="message"></p>
                </div>
            </form>
                </div>
              </div>
            
            <!-- footer -->
        <footer class="home_footer">
            <div class="footer_container">
                <div class="footer_row">
                    <div class="footer_col">
                        <h4>Company</h4>
                        <ul class="footer_ul">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">PrivacyPolicy</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </div>
                    <div class="footer_col">
                        <h4>Get Help</h4>
                        <ul class="footer_ul">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                        </ul>
                    </div>
                    <div class="footer_col">
                        <h4>Online Shop</h4>
                        <ul class="footer_ul">
                            <li><a href="#">Watch</a></li>
                            <li><a href="#">Bag</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Dress</a></li>
                        </ul>
                    </div>
                    <div class="footer_col">
                        <h4>Follow Us</h4>
                        <div class="footer_links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!--java script-->
        <script >
            // nav bar
            const toggleBtn = document.querySelector('.toggle_btn')
            const toggleBtnIcon = document.querySelector('.toggle_btn span')
            const dropDownMenu = document.querySelector('.dropdown_menu')

            toggleBtn.onclick = function(){
                dropDownMenu.classList.toggle('open')
                const isOpen = document.classList.contains('open')
            }  
            
            function show() {
                var password = document.getElementById("password");
                var icon = document.querySelector(".fas");

                // ========== Checking type of password ===========
                if (password.type === "password") {
                    password.type = "text";
                } else {
                    password.type = "password";
                }
            }

        </script>
        <script src="js/script.js"></script>
    </body>
</html>
